.les {
    animation: bg 10s infinite;
    animation-delay: 2s;
}

.border-dashed {
    width: 201px;
    height: 201px;
    border: 3px solid #cccd;
}

@keyframes bg{
    0%{
        background: #fff;
    }

    50%{
        background: #000;
    }

    100%{
        background: #fff;
    }
}

.circlee {
    fill: #fff;
    animation: circlee 10s infinite;
    animation-delay: 2s;
}

.circle{
    fill: #fcad3a;
    animation: circle 10s infinite;
    animation-delay: 2s;
}

@keyframes circlee{
    0%{
        fill: #fff;
    }

    50%{
        fill: #000;
    }

    100%{
        fill: #fff;
    }
}

@keyframes circle{
    0% {
        fill: #fcad3a;
        transform: translate(0, 0);
    }

    25%{
        fill: #fff;
        transform: translate(32.5px, 0px);
    }

    50% {
        fill: #fff;
        transform: translate(67px, 0px);
    }

    100% {
        fill: #fcad3a;
        transform: translate(0px, 0px);
    }
}

@keyframes circle{
    0% {
        fill: #fcad3a;
        transform: translate(0, 0);
    }

    25%{
        fill: #fff;
        transform: translate(32.5px, 0px);
    }

    50% {
        fill: #fff;
        transform: translate(67px, 0px);
    }

    100% {
        fill: #fcad3a;
        transform: translate(0px, 0px);
    }
}